<div class="wrap">
  <h1 class="wrap__title">Title</h1>

  <p class="wrap__text">Text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolorum temporibus, voluptates facilis provident molestiae veritatis quibusdam minima nobis totam tenetur quo, adipisci nisi quia assumenda unde, libero error quam?</p>

  <fieldset class="wrap__methods">
    <legend>Способ смены темы:</legend>

    <div>
      <label>CSS переменные</label>

      <input type="radio" id="light" name="contact" checked (change)="cssVarsMethod('light')">
      <label for="light">Светлая</label>
      
      <input type="radio" id="dark" name="contact" (change)="cssVarsMethod('dark')">
      <label for="dark">Темная</label>
    </div>

    <div>
      <label>Класс</label>

      <input type="radio" id="light2" name="contact" (change)="classMethod()">
      <label for="light2">Светлая</label>
      
      <input type="radio" id="dark2" name="contact" (change)="classMethod()">
      <label for="dark2">Темная</label>
    </div>

    <div>
      <label>Инвертирование</label>

      <input type="radio" id="light3" name="contact" (change)="invertMethod()">
      <label for="light3">Светлая</label>
      
      <input type="radio" id="dark3" name="contact" (change)="invertMethod()">
      <label for="dark3">Темная</label>
    </div>
  </fieldset>
</div>